        * {
            box-sizing: content-box;
        }
        
        div {
            float: left;
            padding: 15px;
            position: absolute;
        }
        
        div.d1 {
            margin-top: 390px;
            margin-left: 180px;
        }
        
        div.d2 {
            margin-top: 600px;
        }
